<div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">Gifs-App</h3>
    <hr class="text-white" >

  <div class="list-group list-reset">
    <a class="list-group-item list-group-item-action"
    *ngFor="let query of searchHistory">
      {{ query | titlecase }}
    </a>
  </div>

  <div class="list-group list-reset p-3">
    <button 
      *ngIf="searchHistory.length > 0"
      class="btn btn-secondary btn-sm" 
      (click)="clearHistory()">
        Clear History
    </button>
  </div>
</div>